Repository Tea0fc/guard_cam_frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add registration and login pages
  app/login/page.tsx
  app/registration/page.tsx
  next-env.d.ts
  pages/_app.tsx
  pages/_document.tsx
  pages/main.tsx
  src/_pages/LoginPage/index.tsx
  src/_pages/RegistrationPage/index.tsx
  src/_pages/index.ts
  src/entities/User/index.ts
  src/entities/User/model/consts/index.ts
  src/entities/User/model/index.ts
  src/entities/User/model/schemas/index.ts
  src/entities/User/model/types/index.ts
  src/entities/index.ts
  src/features/AuthWrapper/index.ts
  src/features/AuthWrapper/ui/AuthWrapper.module.scss
  src/features/AuthWrapper/ui/index.tsx
  src/features/index.ts
  src/shared/lib/index.ts
  src/shared/model/const/routes/index.ts
  src/shared/ui/Button/ui/Button.module.scss
  src/shared/ui/Button/ui/ButtonSize.module.scss
  src/shared/ui/Button/ui/index.tsx
  src/shared/ui/Input/ui/index.tsx
  src/shared/ui/Textarea/ui/index.tsx
  src/widgets/AuthLayout/index.ts
  src/widgets/AuthLayout/ui/AuthLayout.module.scss
  src/widgets/AuthLayout/ui/index.tsx
  src/widgets/Login/index.ts
  src/widgets/Login/ui/Login.module.scss
  src/widgets/Login/ui/index.tsx
  src/widgets/Registration/index.ts
  src/widgets/Registration/ui/Registration.module.scss
  src/widgets/Registration/ui/index.tsx
  src/widgets/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

Add device page and fix nodelist with devicelist
  app/nodes/[nodeId]/device/[deviceId]/page.tsx
  app/nodes/[nodeId]/page.tsx
  src/_pages/DevicePage/index.tsx
  src/_pages/DevicesPage/index.tsx
  src/entities/Devices/model/const/index.ts
  src/entities/Devices/model/index.ts
  src/features/DeviceActions/index.ts
  src/features/DeviceActions/ui/DeviceActions.module.scss
  src/features/DeviceActions/ui/index.tsx
  src/features/DevicesList/ui/DeviceIndicator/DeviceIndicator.module.scss
  src/features/DevicesList/ui/DeviceIndicator/index.tsx
  src/features/DevicesList/ui/DeviceList/index.tsx
  src/features/NodeActions/index.ts
  src/features/NodeActions/ui/NodeActions.module.scss
  src/features/NodeActions/ui/index.tsx
  src/features/ObjectInfo/ui/ObjectInfo.module.scss
  src/shared/ui/Button/ui/Button.module.scss
  src/shared/ui/Button/ui/index.tsx
  src/widgets/Device/index.ts
  src/widgets/Device/ui/index.tsx
  src/widgets/DeviceLayout/index.ts
  src/widgets/DeviceLayout/ui/DeviceLayout.module.scss
  src/widgets/DeviceLayout/ui/index.tsx
  src/widgets/MyDevices/index.ts
  src/widgets/MyDevices/ui/index.tsx
  src/widgets/MyNodes/index.ts
  src/widgets/MyNodes/ui/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: prettier --write

Fix link target in user action buttons
  .gitignore
  package.json
  src/features/UserActions/ui/index.tsx
Due: eslint --fix, prettier --write

change config for github pages
  next.config.mjs
Due: prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Create nextjs.yml
  .github/workflows/nextjs.yml
Due: none

Add redirect page for github pages
  app/guard_cam_frontend/page.tsx
Due: eslint --fix, prettier --write

Off auto docs
  public/.nojekyll
Due: none

fix slug
  next.config.mjs
Due: prettier --write

Add redirect for main page
  app/page.tsx
Due: eslint --fix, prettier --write

Fix gitignore
  .gitignore
Due: none

Add homepage
  package.json
Due: prettier --write

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

delete node requirement
  package.json
Due: prettier --write

Add export to config
  next.config.mjs
Due: prettier --write

add static params
  app/nodes/[nodeId]/device/[deviceId]/page.tsx
  app/nodes/[nodeId]/page.tsx
Due: eslint --fix, prettier --write

fix paths
  app/nodes/[nodeId]/device/[deviceId]/page.tsx
  app/nodes/[nodeId]/page.tsx
Due: eslint --fix, prettier --write

Fix static functions
  app/nodes/[nodeId]/device/[deviceId]/page.tsx
  app/nodes/[nodeId]/page.tsx
Due: eslint --fix, prettier --write

Fix name of slug
  app/nodes/[nodeId]/device/[deviceId]/page.tsx
  app/nodes/[nodeId]/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,scss})) or (any of: **/*.{json,md,mjs})
  stylelint --fix: any of: **/*.{css,scss}
